
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}
.login-bg {
  background-image: url(https://images.unsplash.com/photo-1430417934865-589b63ad5c00?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2110&q=80);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.logo-img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.log-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: inline-flex;
  align-self: flex-start;
}

.col-form-label {
  padding-left: 0 !important;
}

.pl-4,
.px-4,
.alert {
  padding-left: 20% !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
.margin-top {
  margin-top: 30px;
}

.padding {
  padding: 2em;
}

.card {
  color: #ffff !important;
  padding: 20px;
}

.custom-link {
  color: #00b7ff !important;
}

.nav-item {
  display: flex;
  align-items: center;
}

.card-body {
  padding: 0 !important;
}

.tenant-avatar {
  max-width: 2.5rem;
}

.text-danger {
  color: red;
  text-decoration-style: solid;
}
